section {
    margin: 5%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 5%;
}

section div {
    width: fit-content;

    padding: 0 20%;
    border: 1px solid black;

    text-transform: uppercase;
    text-align: center;
}