body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(350, 71%, 87%);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 2%;
    margin: 2%;
    border: 5px solid brown;
}

header input{
    padding: 1%;
}

header button {
    padding: 1%;
}

#listaTarjetas {
    margin: 2%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1%;
}

.contenedorTarjeta {
    padding: 2%;
    border: 5px solid brown;
    text-align: center;
}

img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.contenedorTarjeta a {
    color: brown;
    text-decoration: none;
    padding: 2%;
    font-weight: 700;
    text-transform: uppercase;
   
}

.contenedorTarjeta a:hover {
    background-color: brown;
    color: white;
}

/* Detalle Anime */
#detalleAnime {
    text-align: center;
}

#detalleAnime img {
    margin: 2%;

    width: 60%;
    height: 60%;
    object-fit: contain;
}

#detalleAnime h1 {
    margin-top: 5%;
}

#detalleAnime h3 {
    margin-top: 5%;
}