form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10%;
}

form label {
    font-size: larger;
    margin: 5% 10%;

    margin-right: auto;
}

form input {
    padding: 5% 2%;
    width: 60%;
}


button {
    margin-top: 5%;

    width: 25%;
    padding: 1.5%;

    border: 1px solid black;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;

    cursor: pointer;
}

button:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
  opacity: 0.6;

  border: none;
}

.user-card {
    padding: 0 35%;
    border: 1px solid black;

    margin: 20% 0;

    text-transform: uppercase;
}

section {
    margin: 5%;
    width: 20%;
}

section a {
    width: fit-content;

    text-decoration: none;
    color: black;
}

section a:hover {
    text-decoration: underline;
}

.successMsg {
    margin-top: 10%;

    color: green;
    text-transform: uppercase;
}