* {
    font-family: 'Courier New', Courier, monospace;
}

form {
    margin: 3%;
    padding: 3%;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
}

div {
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 30%;
}

input {
    margin-left: 3%;
}

button {
    padding: 0.5%;
    background-color: green;
    color: white;
    border: none;

    margin-top: 3%;
    width: 10%;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

p {
    font-size: small;
    color: red;
}

.mensajeExito {
    font-size: small;
    color: green;
}